*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#qrcode { margin-top: 20px; border: 1px solid #ccc; padding: 10px; }
input { padding: 10px; width: 250px; }

@font-face {
  font-family: 'Bamboy';
  src: url('fonts/BamboyTrial-Condensed.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Kirana';
    src: url(fonts/KIRANAbold.ttf) format(truetype);
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('/imgs/young-girl-spending-weekend-movie-theater.jpg');
    display: flex;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.hero h1{
    color: #f5deb3;
    font-family: 'Kirana', sans-serif;
    font-size: 6rem;
    width: auto;
    margin-top: 5rem;
}

.hero p{
    font-family: "Iosevka Charon Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: #f5deb3;
    font-size: 1.5rem;
}

.sobre-produto {
    display: flex;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.sobre-produto p{
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #1c0b19;
    font-size: 2rem;
    margin: 4rem 3rem 4rem 3rem;
}

.card-1{
    background-color: #f1f7ed;
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
}
.card-2{
    background-color: #b26e63;
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
}
.card-3{
    background-color: #cc998d;
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
}
.card-4{
    background-color: #1c0b19;
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
}
